<ion-tabs>
  <ion-tab-bar slot="bottom" class="border-0 shadow-lg pt-2 pb-2" style="--background: #ffffff; border-radius: 20px 20px 0 0;">
    
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon> <ion-label class="fw-medium">Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
      <ion-label class="fw-medium">Canjear</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>